body 
{font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(255, 205, 111, 0.781);
}

.jumbotron {
    background-color: rgba(130, 194, 57, 0.884);
    text-align: center;
}


#board {
    display: block;
    /* display: flex; */
    margin: 50px 0;
    border: 12px solid #4c311c;
    border-radius: 10px;
    background-color: #2e1206;
}

.dirtRow {
    display: flex;
}

.plot {
    border: 0.5px solid #2e1206;
    width: 10%;
    padding: 0;
    cursor: pointer;
    /* flex for stretching horizontal plant images to be square */
    display: flex;
}