body 
{font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(52, 170, 22, 0.452);
}

.jumbotron {
    background-color: rgba(112, 144, 117, 0.685);
    text-align: center;
}


#board {
    display: block;
    /* display: flex; */
    border: 12 px solid #6d5720;
}

#soil {
    background-color: #523d1f;
    display: grid;
    /* grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; */
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    /* position: inherit; */
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.plot {
    width: 100%;
    padding: 0;
}